*
{
  margin: 0px;
}

body
{
  background-color: #dcebf5;
}

.graficos
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 4vh;
  width: fit-content;
  margin: 4vh auto;
  border-radius: 15px;
}

.graficos > div
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  padding: 4vh;
  width: fit-content;
  margin: 4vh auto;
  border-radius: 15px;
}

.grafico
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movimientos
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 4vh;
  width: fit-content;
  margin: 4vh auto;
  border-radius: 15px;
}

h2
{
  margin-bottom: 20px;
}

.movimientos li
{
  margin-bottom: 10px;
}

.preview
{
  background-color: #ffffff;
  padding: 25px;
  width: 50vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}